<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeroesDB - Inicio</title>
</head>
<body>
    <nav class="accesos">
        <a href="http://localhost:3000/api/index">Página Principal</a>
        <a href="http://localhost:3000/api/dashboard">Lista de Superhéroes</a>
        <a href="http://localhost:3000/api/formulario/crear-heroe-formulario">Agregar Superhéroe</a>
    </nav>

    <div class="content">
        <h1>Bienvenido a la Página de Superhéroes</h1>
    
        <p>Aquí puedes encontrar información sobre tus superhéroes favoritos.</p>
    </div>

    <footer>
        <p>&copy; 2023 Esparza, Patricio Osvaldo <a href="mailto:esparzapatricio95@gmail.com">esparzapatricio95@gmail.com</a></p>
    </footer>
</body>
</html>